<script>
	import { goto } from '$app/navigation';

	let userName = '';
	let password = '';

	const signIn = () => goto('/checklist');
	const signUp = () => alert('Вы зарегистрировались');
</script>

<svelte:head>
	<title>Вход</title>
</svelte:head>

<section>
	<form on:submit|preventDefault={signIn}>
		<label>
			Имя пользователя
			<input type="text" required bind:value={userName} />
		</label>

		<label>
			Пароль
			<input type="password" required bind:value={password} />
		</label>

		<div class="buttons">
			<button on:click={signIn}>Войти</button>
			<button type="button" on:click={signUp}>Регистрация</button>
		</div>
	</form>
</section>

<style>
	.buttons {
		display: flex;
		justify-content: space-between;

		font-size: 1.5rem;
		margin-top: 1rem;
	}

	form {
		display: inline-block;
	}

	input {
		display: block;
		margin-top: 0.3rem;
	}

	label {
		color: white;
		display: block;
		font-size: 1.5rem;
		margin-top: 0.5rem;
	}
</style>
