<script>
	import { onMount } from 'svelte';

	import { flip } from 'svelte/animate';

	import { getGuid, sortOnName } from '$lib/utils';

	import Category from '$lib/components/Category.svelte';
	import Dialog from '$lib/components/Dialog.svelte';

	const options = { duration: 700 };

	let categoryArray = [];
	let categories = {};

	let categoryName = '';
	let message = '';
	let show = 'all';

	let dialog = null;

	let restored = false;

	$: categoryArray = sortOnName(Object.values(categories));

	let dragAndDrop = {
		drag(event, categoryId, itemId) {
			const data = { categoryId, itemId };
			event.dataTransfer.setData('text/plain', JSON.stringify(data));
		},

		drop(event, categoryId) {
			const json = event.dataTransfer.getData('text/plain');
			const data = JSON.parse(json);

			const category = categories[data.categoryId];
			const item = category.items[data.itemId];

			delete category.items[data.itemId];

			categories[categoryId].items[data.itemId] = item;
			categories = categories;
		}
	};

	function addCategory() {
		const duplicate = Object.values(categories).some((category) => category.name === categoryName);

		if (duplicate) {
			message = `Категория ${categoryName} уже существует`;

			dialog.showModal();
			return;
		}

		const id = getGuid();
		categories[id] = { id, name: categoryName, items: {} };
		categories = categories;
		categoryName = '';
	}

	function deleteCategory(category) {
		if (Object.values(category.items).length) {
			message = 'Эта категория не пуста';
			dialog.showModal();

			return;
		}

		delete categories[category.id];
		categories = categories;
	}

	function clearAllChecks() {
		for (const category of Object.values(categories)) {
			for (const item of Object.values(category.items)) {
				item.packed = false;
			}
		}

		categories = categories;
	}

	onMount(restore);

	$: if (categories) persist();

	function persist() {
		if (restored) {
			localStorage.setItem('travel-packing', JSON.stringify(categories));
		}
	}

	function restore() {
		const text = localStorage.getItem('travel-packing');

		if (text && text !== '{}') {
			categories = JSON.parse(text);
		}

		restored = true;
	}
</script>

<svelte:head>
	<title>Список</title>
</svelte:head>

<section>
	<header>
		<form on:submit|preventDefault={addCategory}>
			<label>
				Новая Категория
				<input bind:value={categoryName} />
			</label>

			<button disabled={!categoryName}>Добавить категорию</button>
			<a href="/" class="btn logout-btn">Выйти</a>
		</form>

		<p>
			Предлагаемые категории включают рюкзак, одежду,
			<br />
			последнюю минуту, Лекарства, Снаряжение для бега и туалетные принадлежности
		</p>

		<div class="radios">
			<!-- svelte-ignore a11y-label-has-associated-control -->
			<label> Показать </label>

			<label>
				<input type="radio" name="show" value="all" bind:group={show} />
				Все
			</label>

			<label>
				<input type="radio" name="show" value="packed" bind:group={show} />
				Упакованные
			</label>

			<label>
				<input type="radio" name="show" value="unpacked" bind:group={show} />
				Не упакованные
			</label>

			<button on:click={clearAllChecks} class="clear"> Очистить все checkbox</button>
		</div>
	</header>

	<div class="categories">
		{#each categoryArray as category (category.id)}
			<div class="wrapper" animate:flip={options}>
				<Category
					bind:category
					{categories}
					{show}
					on:deleteCategory={() => deleteCategory(category)}
					on:persist={persist}
					dnd={dragAndDrop}
				/>
			</div>
		{/each}
	</div>

	<Dialog title="Чек лист" bind:dialog>
		<div>
			{message}
		</div>
	</Dialog>
</section>

<style>
	.categories {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.clear {
		margin-left: 30px;
	}

	input[type='radio'] {
		--size: 24px;
		height: var(--size);
		width: var(--size);
		margin-left: 10px;
	}

	.logout-btn {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.radios {
		display: flex;
		align-items: center;
	}

	.radios > label:not(:first-of-type) {
		display: inline-flex;
		align-items: center;

		margin-left: 1em;
	}

	.radios > label > input {
		margin-bottom: -3px;
		margin-right: 5px;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 24px;
		margin-top: 1em;
	}

	.wrapper {
		display: inline;
	}
</style>
