html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: rgb(0, 80, 160);
	}
}

label {
	display: inline-block;
}

input,
button,
select,
textarea {
	--padding: 10px;

	border-radius: var(--padding);
	border: none;
	box-sizing: border-box;
	color: gray;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: var(--padding);
}

input {
	&:disabled {
		color: #ccc;
	}

	/* This prevents Firefox from displaying a red box shadow
      around required inputs that have no value. */
	&:invalid {
		box-shadow: none;
	}

	&[type='range'] {
		height: 0;
	}
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;

	&:not(:disabled):active {
		background-color: #ddd;
	}

	&:disabled {
		color: lightgray;
	}

	&:focus {
		border-color: #666;
	}

	.icon {
		background-color: transparent;
		border: none;
		margin-bottom: 0;
	}
}

button:not(:disabled),
input:not(:disabled) {
	cursor: pointer;
}

.btn {
	background-color: white;
	border-radius: 10px;
	color: gray;
	padding: 1rem;
	text-decoration: none;
}
