<script>
	// @ts-nocheck
	import { flip } from 'svelte/animate';
	import { linear } from 'svelte/easing';
	import { scale } from 'svelte/transition';

	import { createEventDispatcher } from 'svelte';
	import { blurOnKey, getGuid, sortOnName } from '$lib/utils';
	import Item from './Item.svelte';
	import Dialog from './Dialog.svelte';

	const dispatch = createEventDispatcher();
	const options = { duration: 700, easing: linear, times: 2 };

	export let categories;
	export let category;
	export let show;
	// Drag and drop
	export let dnd;

	let editing = false;
	let hovering = false;

	let itemName = '';
	let message = '';

	let items = [];

	let dialog = null;

	$: items = Object.values(category.items);
	$: remaining = items.filter((item) => !item.packed).length;
	$: total = items.length;
	$: status = `${remaining} из ${total} оставшихся`;
	$: itemsToShow = sortOnName(items.filter((item) => shouldShow(show, item)));

	function addItem() {
		const duplicate = Object.values(categories).some((category) =>
			Object.values(category.items).some((item) => item.name === itemName)
		);

		if (duplicate) {
			message = `Предмет "${itemName}" уже существует`;
			dialog.showModal();

			return;
		}

		const { items } = category;
		const id = getGuid();

		items[id] = { id, name: itemName, packed: false };
		category.items = items;

		itemName = '';

		dispatch('persist');
	}

	function deleteItem(item) {
		delete category.items[item.id];
		category = category;

		dispatch('persist');
	}

	function shouldShow(show, item) {
		return (
			show === 'all' || (show === 'packed' && item.packed) || (show === 'unpacked' && !item.packed)
		);
	}

	function spin(node, options) {
		const { easing, times = 1 } = options;

		return {
			...options,

			css(t) {
				const eased = easing(t);
				const degrees = 360 * times;

				return (
					'transform-origin: 50% 50%; ' +
					`transform: scale(${eased}) ` +
					`rotate(${eased * degrees}deg);`
				);
			}
		};
	}
</script>

<section
	class:hover={hovering}
	on:dragenter={() => (hovering = true)}
	on:dragleave={(event) => {
		const { localName } = event.target;

		if (localName === 'section') hovering = false;
	}}
	on:drop|preventDefault={(event) => {
		dnd.drop(event, category.id);
		hovering = false;
	}}
	on:dragover|preventDefault
	in:scale={options}
	out:spin={options}
>
	<h3>
		{#if editing}
			<input bind:value={category.name} on:blur={() => (editing = false)} on:keypress={blurOnKey} />
		{:else}
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<span on:click={() => (editing = true)}>{category.name}</span>
		{/if}

		<span class="status">{status}</span>
		<button class="icon" on:click={() => dispatch('deleteCategory')}>&#x1F5D1;</button>
	</h3>

	<form on:submit|preventDefault={addItem}>
		<label>
			Новый предмет
			<input data-testid="item-input" required bind:value={itemName} />
		</label>

		<button disabled={!itemName}>Добавить</button>
	</form>

	<ul>
		{#each itemsToShow as item (item.id)}
			<div class="wrapper" animate:flip>
				<Item bind:item on:deleteItem={() => deleteItem(item)} categoryId={category.id} {dnd} />
			</div>
		{:else}
			<div>Эта категория ещё не содержит каких-либо предметов</div>
		{/each}
	</ul>

	<Dialog title="Категория" bind:dialog>
		<div>
			{message}
		</div>
	</Dialog>
</section>

<style>
	button,
	input {
		border: solid lightgray 1px;
	}

	button.icon {
		border: none;
	}

	h3 {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: 0;
	}

	section {
		--padding: 10px;

		background-color: white;
		border: solid transparent 3px;
		border-radius: var(--padding);
		color: black;
		display: inline-block;
		margin: var(--padding);
		padding: calc(var(--padding) * 2);
		padding-top: var(--padding);
		vertical-align: top;
	}

	.status {
		font-size: 18px;
		font-weight: normal;

		margin: 0 15px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.hover {
		border-color: orange;
	}

	.wrapper {
		display: inline;
	}
</style>
