<script>
	import { blurOnKey } from '$lib/utils';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	export let item;
	export let categoryId;
	// Drag and drop
	export let dnd;

	let editing = false;
</script>

<li>
	<input type="checkbox" bind:checked={item.packed} />

	{#if editing}
		<!-- svelte-ignore a11y-autofocus -->
		<input
			type="text"
			autofocus
			bind:value={item.name}
			on:blur={() => (editing = false)}
			on:keydown={blurOnKey}
		/>
	{:else}
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<span
			class="packed-{item.packed}"
			on:click={() => (editing = true)}
			draggable="true"
			on:dragstart={(event) => dnd.drag(event, categoryId, item.id)}
		>
			{item.name}
		</span>
	{/if}

	<button class="icon" data-testid="delete" on:click={() => dispatch('deleteItem')}
		>&#x1F5D1;</button
	>
</li>

<style>
	button {
		background-color: transparent;
		border: none;
	}

	input[type='checkbox'] {
		--size: 24px;
		height: var(--size);
		width: var(--size);
	}

	input[type='text'] {
		border: solid lightgray 1px;
	}

	li {
		display: flex;
		align-items: center;
	}

	.packed-true {
		color: gray;
		text-decoration: line-through;
	}

	span {
		margin: 0 10px;
	}
</style>
